{% extends 'tableau_de_bord.html' %}

{% block content %}
<div class="container">
  <h1>Liste des catégories</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for categorie in categories %}
      <tr>
        <td>{{ categorie.nom }}</td>
        <td>
          <a href="{% url 'produits:modifier_categorie' categorie.id %}" class="btn btn-primary">Modifier</a>
          <a href="{% url 'produits:supprimer_categorie' categorie.id %}" class="btn btn-danger">Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'produits:creer_categorie' %}" class="btn btn-success">Ajouter une catégorie</a>
</div>
{% endblock %}
